# TABLE LIST
t_ret_sales=SOMETHING
t_ret_whole=SOMETHING
t_cogs=SOMETHING
t_loc=SOMETHING
t_items=SOMETHING

# COLUMNS LIST
c_receipt_no=SOMETHING
c_code=SOMETHING
c_bc=SOMETHING
c_trx_date=SOMETHING
c_item_brand=SOMETHING
c_month=SOMETHING
c_brand=SOMETHING
c_loc_code=SOMETHING
c_t_price=SOMETHING
c_b_price=SOMETHING
c_canceled=SOMETHING
c_created=SOMETHING
c_cust_code=SOMETHING
c_item_code=SOMETHING
c_item_desc=SOMETHING
c_item_color=SOMETHING
c_item_size=SOMETHING
c_item_product=SOMETHING
c_item_group=SOMETHING
c_returned=SOMETHING
c_qty=SOMETHING
c_disc_p=SOMETHING
c_disc_a=SOMETHING
c_amt_aft_tax=SOMETHING
c_tax_a=SOMETHING
c_fin_cogs=SOMETHING
c_ear_cogs=SOMETHING

# VALUES LIST
v_intra_loc=SOMETHING
v_melissa=SOMETHING
v_retail=SOMETHING
v_ic=SOMETHING
v_nic=SOMETHING
